/* Styles généraux pour tous les éléments */
.root {
    -fx-font-family: "Arial";
}

/* Styles pour TableView */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #dddddd;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 8px 8px 0px 0px;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-padding: 12px;
    -fx-border-color: transparent transparent #e0e0e0 transparent;
}

.table-view .table-cell {
    -fx-alignment: center-left;
    -fx-padding: 10px;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #f0f0f0 transparent;
    -fx-padding: 2px;
}

.table-row-cell:hover {
    -fx-background-color: #f8f9fa;
}

.table-row-cell:selected {
    -fx-background-color: #e6f2ff;
    -fx-text-fill: black;
}

/* Styles pour les boutons */
.button {
    -fx-cursor: hand;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0, 0, 2);
}